@mixin set-color($key, $value) {
  #{$key}: var($value);
}

@mixin set-shadow-box($classname, $height, $width, $percentage) {

  $actually-width: $width+rem;
  $orientation: -3.1deg;

  $box-shadow: 0 .28rem .22rem rgba(0, 0, 0, 0.034),
  0 .67rem .53rem rgba(0, 0, 0, 0.048),
  0 .125rem 1rem rgba(0, 0, 0, 0.06),
  0 2.23rem 1.79rem rgba(0, 0, 0, 0.072),
  0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
  0 10rem 8rem rgba(0, 0, 0, 0.12);
  @if $percentage {
    $actually-width: $width*1%;
  }
  .#{$classname} {
    background: $section-background;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 $box-shadow-section-color;
    height: 100%;
    width: 80%;

  }

}

@mixin button() {

  border: .1rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1.6rem;
  height: 3rem;
  margin-top: 1.6rem;
  width: 15rem;

  &:disabled {
    cursor: auto;
  }

}

