.login-container {

  border: solid .1rem $border-color;
  border-radius: 0 .5rem .5rem .5rem;
  height: 25rem;
  padding-top: 1.3rem;
  text-align: center;

  &__login-button {
    @include button;
  }

  &__label-error {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
  }

}
